 @model ProductsAndCategory.Models.Category
  @addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

 <html>
     <head>
         <title>Edit</title>
     </head>
     <body>
         <h2>Edit Category</h2>
         <form asp-action="Edit" method="post" >
             <div>
                 <input hidden asp-for="CategoryId" />

             </div>
             <div>
                 <label asp-for="CategoryName">Category Name</label>
                 <input asp-for="CategoryName" />
             </div>
             <div>
                 <input type="submit" value="Edit" />
              </div>
         </form>
     </body>
 </html>